@tailwind base;
@tailwind components;
@tailwind utilities;
.dark .bg {
  @apply bg-[#164B60] text-[#A2FF86];
}
.wrapper {
  display: flex;
  flex-direction: column;
  @apply w-screen h-screen;
}
.wrapper .wrapper__main {
  flex-grow: 19;
  overflow: auto;
  @apply h-[95vh];
}
.wrapper .wrapper__footer {
  flex-grow: 1;
  @apply h-[5vh];
}
* {
  box-sizing: border-box;
}
html{
  background-color: red;
  @apply w-screen h-screen;
}
img {
  @apply rounded-xl;
}
.dark .header {
  @apply text-[#4FC0D0];
}
.dark .bgg {
  @apply bg-[#1B6B93] text-[#A2FF86];
}
.bg {
  @apply bg-[#A2FF86] text-[#164B60];
}
.bgg {
  @apply bg-[#4FC0D0] text-[#164B60];
}
.header {
  @apply text-[#1B6B93];
}
.center {
  @apply justify-center items-center flex;
}
.full {
  @apply h-screen w-screen;
}
